*{
margin: 0;
padding: 0;
border: 0;
}

body {
font-family: Verdana, Arial;
}

#main{
width: 1000px;
margin: 0 auto;
}

#header{
width: 980px;
float: left;
}


#zakazzvonok{
background-color: #ff0000;
color: white;
width: 125px;
height: 27px;
}
















#descriptor{
text-align: center;
margin-bottom: 10px;
}

.zg2 {
border-bottom: 2px solid #3498db;
font-family: Myriad pro, helvetica, verdana, arial;
font-size: 20px;
font: bold;
margin-left: 10px;
margin-bottom: 10px;
word-spacing: 3px;
font-weight: bold;
text-align: left;
position: relative;
width: 960px;
}

.zg1{
border-bottom: 2px solid #3498db;
font-family: Myriad pro, helvetica, verdana, arial;
font-size: 20px;
font: bold;
margin-left: 10px;
margin-bottom: 10px;
word-spacing: 3px;
font-weight: bold;
text-align: left;
position: relative;
width: 960px;
}

#slider_and_zayvka{
width: 980px;
height: 340px;
margin-left: 20px;
}

#slide{
width: 638px;
height: 348px;
float: left;
/* background: #99cccc; */
}

#zayvka{
width: 300px;
height: 219px;
float: left;
/*background: #339999; */
margin-left: 13px;
}




/*Форма */


.smeta1{
width: 259px;
height: 188px;
margin-bottom: 19px;
float: left;
padding: 17px;
border: 2px solid #ff0000;
}


.smeta1 h3{
font-size: 14px;
margin-bottom: 10px;
text-align: center;
}

.smeta_l{
float: left;
font-size: 16px;
width: 100px;
}

.smeta_r{
float: left;
margin-left: 0px;
text-align: right;
float: left;
width: 150px;
}

.smeta_r input{
width: 160px;
height: 25px;
border: 1px solid #bdb6a2;
float: left;
}


.name_i{
margin-top: 5px;
font-size: 90%;
}

.number_i{
margin-top: 0px;
font-size: 90%;
}

.in{
margin-top: 10px;
}

.prop{
font-family: Myriad pro, helvetica, verdana, arial;
color: #993333;
padding-top: 55px;
}

.b_otp{
margin-left:178px;
text-align: right;
}

.b_otp1{
margin-left:178px;
margin-top: 20px;
text-align: right;
}


#send1, #send11, #send2, #send3, #send4{
background-color: #ff0000;
color: white;f
width: 85px;
height: 27px;
position: relative;
top: 30px;
left: 175px;
}

/* Конец блока форма */






#timer{
width: 298px;
height: 98px;
background: #ff0000;
float: left;
margin-top: 17px;
margin-left: 13px;
}


#5prichin p {
padding-left: 30px;
}


ul li{
line-height: 1.5;
font-size: 90%;
margin-top: 30px;
}

.imaga{
width: 50px;
float: left;
}

.textara{
width: 500px;
padding-left: 50px;
}





#footer{
padding-top: 10px;
padding-left: 10px;
border-top: 2px solid #3498db;

}


#inline4{
display: none;
}

#hour,#min,#sec,#day {
	float:left;
	padding:5px;
	width:48px;
	height:55px;
	position:relative;
	display:block;
}
			
#timer_wrap p {
	margin-top:0px;
	padding:0px;
	width:24px;
	height:55px;
	float:left;
	color:#ffffff;
	font-family: Myriad pro, helvetica, verdana, arial;
	font-size: 2.9em;
	font-weight:bold;
	position:absolute;
} 

#sec1,#min1,#hour1,#day1 {
	margin-left:30px;
}
#timer_wrap {
	background-color:#515151;
	/*-moz-border-radius:10px;*/
	height:100px;
	width:303px;
	background: url(image/backtimer.png) left top no-repeat;
	padding:0px 0px;
	float: left;
}		
#clock {
	border: 0px solid white;
	/*-moz-border-radius:10px; */
	height:px;
	width:298px;
	margin-top: 35px;
	background:url(clock.jpg) left top no-repeat;
	padding:0px 0px 0px 0px;
	position:absolute;
}
#razd {
	float:left;
	color:#ffffff;
	font-weight:bold;
	font-size:2.9em;
	margin: 2px 1px 0px 1px;
}
#stop {
	color:white;
	font-size:2em;
	margin:15px 10px 10px 25px;
	position:absolute;
}


.blue{
background-color: #ecf3f8;
}

.grey{
background-color: #fbfbfb;
}

.nameusluga{
border: 1px solid #cccccc;
border-left: 0px;
padding-top: 3px;
padding-bottom: 3px;
}

.price{
border: 1px solid #cccccc;
border-right: 0px;
padding-top: 3px;
padding-bottom: 3px;
}


